body {
  margin: 0;
}

.header {
  background-color: #4d2465;
  min-height: 15vh;
  max-height: 15vh;
  display: flex;
  color: white;
  font-family: "Roboto";
  font-weight: 900;
}

.trademark {
  display: flex;
  align-items: center;
}

.trademark img {
  filter: brightness(-100%) invert(100%);
  max-height: 15vh;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
